<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Portal de Perguntas</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
          <a href="/allquests" class="navbar-brand">Portal perguntas</a>
        <div class="navbar-nav">
            <a class="btn btn-outline-success" aria-current="page" href="/formulario">Perguntar</a>
        </div>
    </div>
</nav>
<div class="container">
  <div class="card">
      <div class="card-header">
          <h1><%= pergunta.titulo%></h1>
      </div>
      <div class="card-body">
          <p class="card-text"><%= pergunta.descricao %></p>
        </div>
    </div>

    <% resposta.forEach(respostas =>{%>

        <div class="card">
            <div class="card-header text-white bg-dark">
                <h4><%= respostas.nome%></h4>
            </div>
            <div class="card-body">
                <p class="card-text"><%= respostas.Resposta %></p>
              </div>
          </div><br>

    <% })%>

    <form action="/resposta" method="post">
        <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label" >Seu nome:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="nome"  required>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" >Resposta</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="resposta"></textarea>
        </div>
        <input type="hidden" name="idResposta" value="<%= pergunta.id %>">
        <button type="submit" class="btn btn-success">responder</button>
    </form>
</div>

</body>
</html>